/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Poppins:ital,wght@0,400;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #2E3192;
    border:none;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

/* navbar */
#navbar{
    /* background-color: rgb(48, 47, 47); */
    background-color: white;
}

#menubar{
    font-weight: bold;
    font-family: 'Lora', serif;
}

.menuItem{
    color: #2E3192; 
    font-weight: bold; 
    font-size: 1.1em;
}

.menuItem:hover{
    color: red;
}

span{
    color: #2E3192;
}

/* banner */
.carousel-caption{
    margin-bottom: 150px;
    background-color: black;
    opacity: .7;
    border-radius: 5px;
    box-shadow: 3px 3px 14px black;
}

.carousel-caption h5{
    font-size: 92px;
    font-weight: bold;
    text-shadow: 1px 1px 1px ;
}

/* about */
#about{
    margin-top: 5%;
}

.aboutTitle{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Lora', serif;
}

.aboutText{
    padding-right: 5%;
}

.aboutText h1{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lora', serif;
}

.aboutText p{
    font-size: 14px;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.aboutBtn{
    color: #2E3192;
}

.aboutBtn:hover{
    background-color: #2E3192;
    color: white;
}

.aboutImg{
    width: 100%;
    transition: transform .5s ease-in-out;
}

.aboutImg:hover{
    transform: scale(1.05);
}

/* products */
.card{
    border: none;
    box-sizing: border-box;
    box-shadow: .5px .5px 5px .5px;
    transition: box-shadow .5s ease-in-out;
}

.card:hover{
    box-shadow: .5px .5px 20px .5px;
}

.productBtn{
    border: 1px solid #2E3192;
    color: #2E3192;
    transition: background-color .5s ease-in-out;
}

.productBtn:hover{
    background-color: #2E3192;
    color: white;
}

.card-title{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1.5em;
}

.modalBody{
    background-color: rgb(221, 215, 255);
}

.modalTitle{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lora', serif;
}

.modalText{
    text-align: justify;
    padding: 2%;
}

/* services */
.serviceTextDiv{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: .7;
}

.serviceTitle{
    font-family: 'Lora', serif;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 15%;
}

.serviceText{
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5%;
    transition: transform 1s ease-in-out;
    /* transition: opacity 5s ease-in-out; */
}

.serviceTextDiv:hover .serviceText{
    transform: scale(1.1);
}

/* gellary */
.gellaryImg{
    transition: transform 1s ease-in-out;
}

.gellaryImg:hover{
    transform: rotate(2deg);
    box-shadow: 2px 2px 5px ;
}

/* speech */
.speechBg{
    background-color: rgb(215, 208, 255);
}

.clientName{
    font-family: 'Lora', serif;
    font-weight: 700px;
    color: black;
}

.clientSpeech{
    font-size: 13px;
    color: black;
}

.clientimage{
    width: 80px; 
    height: 120px;
    transition: transform 1s ease-in-out;
}

.clientimage:hover{
    transform: scale(1.2);
}
/* end speech */

/* contact */
.contact{
    box-shadow: 1px 1px 10px 1px rgb(161, 159, 159);
    border-radius: 5px;
    transition: box-shadow 1s ease-in-out;
}

.contact:hover{
    box-shadow: 1px 1px 10px 1px rgb(110, 110, 110);
}

.contactBtn{
    border: 1px solid #2E3192;
    color: #2E3192;
}

.contactBtn:hover{
    background-color:#2E3192;
    color: white;
}

.contactText{
    font-family: 'Lora', serif;
    color: rgb(87, 84, 84);
}
.contactIcon{
    color: #2E3192;
    transition: transform 1s ease-in;
}

.contactList:hover .contactIcon{
    transform: rotate(360deg);
}

/* our clients */
/* second slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus
{
    outline: none;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); 
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}

.slick-track:after
{
    clear: both;
}

.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide
{
    float: right;
}

.slick-slide img
{
    display: block;
}

.slick-slide.slick-loading img
{
    display: none;
}

.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-initialized .slick-slide
{
    display: block;
}

.slick-loading .slick-slide
{
    visibility: hidden;
}

.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
/* end second slider */
/* end our clients */


